/*! HubSpot COS Site Search
Created by Stefen Phelps - https://stefenphelps.com/
---------------------------------------------- */
.search-results-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
    z-index: 99999999;
}

.search-activated .search-results-overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.search-results-overlay .overlay-close {
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: 0;
    color: #fff;
    z-index: 100;
    background: none;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1002;
}

.search-overlay {
    position: fixed;
    background: rgba(10,10,10,0.4);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.search-results-wrapper .search::-webkit-input-placeholder {
    color: #fff;
}

.search-results-wrapper .search:-moz-placeholder {
    color: #fff;
}

.search-results-wrapper .search::-moz-placeholder {
    color: #fff;
}

.search-results-wrapper .search:-ms-input-placeholder {
    color: #fff;
}

.search-results-wrapper {
    position: relative;
    max-width: 800px;
    margin: 3em auto 1em auto;
    padding: 0 3em;
    height: calc(100vh - 4em);
    z-index: 1001;
}


.search-results-wrapper .search {
    width: 100%;
    padding: 0.5em;
    background: none;
    border: 0 none;
    border-bottom: 2px solid #fff !important;
    color: #fff;
    outline: 0;
    font-size: 1.5em;
}

.search-results-wrapper .search:valid:not(:placeholder-shown) {
    border: 0 none !important;
    border-bottom: 2px solid #fff !important;
}

.search-results {
    margin: 2em 0 0 0;
    padding: 0;
    height: calc(100% - 4.4em);
    position: relative;
    overflow-y: auto;
    text-align: left;
}

.search-results li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 1.5em;
    padding: 15px;
    background: #eaeaea;
    line-height: 1;
}

.search-results span {
    font-size: 0.8rem;
    display: block;
    margin-top: 0.75em;
}
.search-results-wrapper a:visited,
.search-results-wrapper a {
    color: #4a87cc;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    display: block;
}
.search-results-wrapper a:hover,
.search-results-wrapper a:focus {
    color: #888888;
    text-decoration: underline;
}
.search-results-wrapper a.grayLink:visited,
.search-results-wrapper a.grayLink {
    color: #333333;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.search-results-wrapper a.grayLink:hover,
.search-results-wrapper a.grayLink:focus {
    color: #666666;
}


/* THEME 1 */
html.searchTheme {
    background: #fafafa;
    -webkit-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transform-origin: top;
}
html.searchTheme.searchStart {
    transform: translateY(80px);
}
.searchTheme .search-results-overlay {
    top: -80px;
}
.searchTheme .search-results-wrapper {
    margin: 10px auto;
}
.searchTheme .search-results-wrapper .search {
    color: #222222;
    border-bottom: 2px solid #222222 !important;
}
.searchTheme .search-results-overlay .overlay-close {
    color: #222222;
}
.searchTheme .search::-webkit-input-placeholder {
  color: #444444;
}
.searchTheme .search::-moz-placeholder {
  color: #444444;
}
.searchTheme .search:-ms-input-placeholder {
  color: #444444;
}
.searchTheme .search:-moz-placeholder {
  color: #444444;
}

